@font-face {
  font-family: "PoppinsExtraLight";
  src: local("PoppinsExtraLight"),
  url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NanumGothicRegular";
  src: local("NanumGothicRegular"),
  url("./fonts/NanumGothic-Regular.ttf") format("truetype");
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
